.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3a3030;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  text-align: center;
}

.h1 {
  font-size: 45px;
  text-shadow: 1px 1px rgb(165, 164, 164);
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  text-transform: capitalize;
}

.time {
  color: #ffffff;
  text-shadow: 1px 1px rgb(165, 164, 164);
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 0;
  margin-bottom: 33px;
}

.temperature {
  color: #ffffff;
  font-size: 85px;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 1px 1px rgba(0, 0, 0.2);
}

.units,
.fahrenheit-link {
  font-size: 15px;
  color: #ffffff;
  line-height: 1;
  position: relative;
  top: -24px;
}

h3 {
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin-bottom: 8px;
}

.weather-icon {
  display: block;
  padding-right: 1px;
  text-align: center;
}

.card-body {
  margin-bottom: 35px;
}

.card-title {
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.p {
  font-size: 15px;
  color: #ffffff;
}

.section {
  background-image: url("https://i.pinimg.com/originals/59/14/a6/5914a6b343fa43de69dff61cb6f53355.gif");
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  display: inline-block;
  text-align: center;
  box-shadow: 2px 2px 2px 2px rgba(188, 202, 200, 0.918);
  margin: 15px;
}

.form {
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
}

.h5 {
  color: #ffffff;
}

.li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

.ul {
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.coded {
  color: blueviolet;
  padding: 8px;
}

.button {
  width: auto;
  background: #cfc8c8;
  border-bottom: 2px inset rgba(0, 0, 0, 0.5);
  border-left: 2px inset rgba(0, 0, 0, 0.5);
  border-right: 2px inset rgba(255, 255, 255, 0.5);
  border-top: 2px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
}

.current {
  font-family: "Courier New", Courier, monospace;
  width: auto;
  background: #8f8b8b;
  border-bottom: 2px inset rgba(0, 0, 0, 0.5);
  border-left: 2px inset rgba(0, 0, 0, 0.5);
  border-right: 2px inset rgba(255, 255, 255, 0.5);
  border-top: 2px inset rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 25px;
  text-align: center;
}

.active {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.active:hover {
  color: #a346ce;
}

.weak {
  color: #ffffff;
  text-decoration: none;
}

.weak:hover {
  color: #a346ce;
}

